.back{
    background-image: url("/assets/work.jpg");
    background-size: cover;
   filter: blur(9px);
    background-repeat: no-repeat;
    height: 100%; 
  background-position: center;
   
}
#title{
    opacity: 100%;     
    font-weight: bold;
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 80%;
    padding: 20px;
   text-align: center;
    color:rgb(255, 153, 0);
}

.Incardright{
   
    opacity: 100%;     
    
    position: absolute;
    top: 66%;
    left: 25%;
   
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 40%;
    padding: 20px;
   text-align: center;
    color:black;
    background-color: transparent;
}


.Incardleft{
   
    opacity: 100%;     
    
    position: absolute;
    top: 66%;
    left: 75%;
   
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 40%;
    padding: 20px;
   text-align: center;
  font-weight: 550;
    color:black;
    background-color: transparent;
}

#sub{
    color:tomato;
}
