<div class ="back">
</div>
<p id="title">Education</p>

<mat-card class="Incardright">
    <img mat-card-image src="assets/logo.png" height=450px  alt="shivam's education">
  </mat-card>

  <mat-card class="Incardleft">
    <mat-card-header>
        <mat-card-title>Computer System Technician<br>Software Development and Network Engineering</mat-card-title>
       <mat-card-subtitle id="sub">Sheridan College, Brampton, ON (2019 - 2021)
       </mat-card-subtitle>
      </mat-card-header>
    <mat-card-content >
        <br>
        <table id="tabledata">
            <tr>
                • Object Oriented Programming in Java including Java Enterprise (Lombok, SpringBoot Framework), JavaFX
                    and JUnit Test, Data Structure and Algorithms, C#, .NET (WPF, ADO.NET), C.
            </tr>
            <br>
            <tr>• Web Development- PHP, HTML, CSS, Java Script, Angular, jQuery, AJAX, Bootstrap.</tr>
            <br>
            <tr>• Database Management- MySQL, MongoDB, Oracle SQL, Microsoft SQL server.</tr>
            <br>
            <tr>• Learn different software like NetBeans, Eclipse, IntelliJ, GitHub, Xcode, DbVisualizer, Atom, Cisco Packet
                Tracer, Visual Paradigm, Visual studio, Dev C++. Learn IT project management.</tr>
            <br>
                <tr>• Data Communication Switching, Routing algorithms and protocol. Network Security, basic cryptography and
                security management practices. Maintained overall GPA of 3.7.</tr>
        </table>
        




    </mat-card-content>
  </mat-card>