.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
   
  }
  
  .grid-container > div {
   
    text-align: center;
    padding: 20px 0;
    color: black;
    font-size: 17px;
    font-family: sans-serif;
  }
#footmain{
    background-color: #2E4975;
   

}

.id{
    background-color: #bbc8dd;
    color: black;
    
    
    max-width: auto;
  
    
}

#email{
    color:black;
    
}


