.back{
    background-image: url("/assets/back.jpg");
    background-size: cover;
   filter: blur(9px);
    background-repeat: no-repeat;
    height: 100%; 
  background-position: center;
   
}
#name{  
   opacity: 100%; 
   color:black;
   font-weight: bold;
   position: absolute;
   top: 26%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 60px;
   z-index: 2;
   width: 80%;
   padding: 20px;
   text-align: center;
  
}
#title{
    opacity: 100%;     
    font-weight: bold;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 80%;
    padding: 20px;
   text-align: center;
    color:brown;
}
#me{
    opacity: 100%;     
    border-radius: 50%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    z-index: 2;
    width: 21%;
    text-align: center;
   
}
#abouttext{
font-size: 18px;
text-align: center;
color: black;
font-family:  sans-serif;
}
#aboutcard{
    background-color:whitesmoke;
}

#Incard{
    max-width: 400px;
  margin-bottom: 8px;
}