<div class ="back">
</div>
    
    <p id="name">Shivam Sahdev</p> 
    <p id="title">Full Stack Developer</p>
    
    <img src="assets/shivams.jpg" id="me" alt="Shivam Sahdev">
<br>
    <mat-card id="aboutcard">
        <br>
        <mat-card-title>This is Me</mat-card-title>
        <br><br>
         <mat-card class="Incard">
            <mat-card-content id="abouttext">
                Aspiring Full Stack Developer, skilled in Software Development bringing more than 4 years of experience in Development.
                Moreover, I have advanced Knowledge of HTML, CSS, Java Script, Angular, C#, C, React, jQuery, JSON, PHP, MySQL, Oracle 
                Sql, Pl/sql, Rest Api, xml, Data Structure and Algorithms, Project Management.
            </mat-card-content>
          </mat-card>
       <br>
          <mat-card class="Incard">
            <mat-card-content id="abouttext">
                Beside Software skills, I have good knowledge in networking too. I have configured routers using Cisco Packet Tracer.
                Furthermore, I have hands on experience in LINUX, Shell Scripting, Routing and Switching and Network Security, 
                with 3.7 GPA overall.
            </mat-card-content>
          </mat-card>
        <br>
        <mat-card class="Incard">
            <mat-card-content id="abouttext">
            
                <ul>• Excellent communication and teamwork skills. Hands on experience in testing, debugging, troubleshooting and problem solving.</ul>
                <ul>• Proficient in Microsoft Office including MS Word, Excel, PowerPoint, Access, Outlook.</ul>
                <ul>• Excel at multi-tasking in a fast-paced environment with attention to details.</ul>
                <ul>• Reliable, flexible, adaptable and ready to learn new skills.</ul>
                <ul>• Analytical and problem-solving skills, with ability to manage multiple projects simultaneously and meet deadline.</ul>
            
            </mat-card-content>
          </mat-card>   
      </mat-card>

      
