<div class ="back">
</div>
<p id="title">Experience</p>

<mat-card class="Incardright">
  <mat-card-header>
    <mat-card-title>Software Developer Intern <br>@ Health Compass</mat-card-title>
    
   <mat-card-subtitle id="sub">North York, ON (January 2021 - April 2021)
   </mat-card-subtitle>
  </mat-card-header>
<mat-card-content >
    <br>
    <table id="tabledata">
         <tr>
          • Made agile software using Java, spring boot, Rest API, unit test.
      </tr>
        
      <tr>
        • Help designing IOS app for same project.
    </tr>
     
    <tr>
      • Work with marketing team to develop strategies to launch the product.
  </tr>
    
  <tr>
    • Help designing and implementing program, identifying areas for modification in existing program.
</tr>
   
<tr>
  • Troubleshoot, debug and update the software.
</tr>
<br>          
<tr>
• Working with other developer to improver user interface, UX designer.
</tr>
  
<tr>
• Working with Marketing team to help promote the App, make schedule release date, discuss deadlines with developer.
</tr>
                  
    </table>
</mat-card-content>
  </mat-card>

  <mat-card class="Incardcenter">
    <mat-card-header>
      <mat-card-title>Software Developer and Tester<br>@ 
        CAAT Pension Plan</mat-card-title>
     <mat-card-subtitle id="sub">Toronto, ON (September 2021 - Present)
     </mat-card-subtitle>
    </mat-card-header>
  <mat-card-content >
      <br>
      <table>
          <tr>
              • Work on backend using ASP.NET. Work in both Development and Testing teams, using Microsoft Azure Devops.
          </tr>
            
          <tr>
            • Help developing loosely coupled and maintainable software for website using SOLID principles.
        </tr>
         
        <tr>
          • Follow Agile Development principles, participated in Scrum Ceremonies to proceed all phases of SDLC.
      </tr>
        
      <tr>
        • Write Unit tests for Controllers, Help in Bug fixing.
    </tr>
      
    <tr>
      • Create Rest API, use swagger for documentation.
  </tr>
         
  <tr>
    • Maintain the regression test bed and create new test cases for various pension modifications.
</tr>
   
<tr>
  • Use Ranorex Studio for automation testing, make/ fix excel sheets for testing, expected results.
</tr>

<tr>
  • Manually Testing the software developed to meet the requirements of end user.
</tr>

      </table>
  </mat-card-content>
  </mat-card>


  <mat-card class="Incardleft">
    <mat-card-header>
        <mat-card-title>Marketing and Branding Volunteer @<br>Google DSC- Sheridan College</mat-card-title>
       <mat-card-subtitle id="sub">Brampton, ON (July 2021 - Present)
       </mat-card-subtitle>
      </mat-card-header>
    <mat-card-content >
        <br>
        <table id="tabledata">
            <tr>
                • Help building Sheridan's first google developer student club.
            </tr>
            <tr>
              • Build solutions for local business and community.
          </tr>
          <tr>
            • Working with other students to build solutions for real life problems.
        </tr>
                      
        </table>
    </mat-card-content>
  </mat-card>
 