.back{
    background-image: url("/assets/education.jpg");
    background-size: cover;
   filter: blur(9px);
    background-repeat: no-repeat;
    height: 100%; 
  background-position: center;
   
}
#title{
    opacity: 100%;     
    font-weight: bold;
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 80%;
    padding: 20px;
   text-align: center;
    color:rgb(51, 9, 9);
}

.Incardright{
   
    opacity: 100%;     
    
    position: absolute;
    top: 60%;
    left: 20%; 
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 25%;
    padding: 20px;
   text-align: center;
    color:rgb(51, 9, 9);
    background-color: burlywood;
}

.Incardcenter{
   
    opacity: 100%;     
    
    position: absolute;
    top: 63%;
    left: 50%; 
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 25%;
    padding: 20px;
   text-align: center;
    color:rgb(51, 9, 9);
    background-color: burlywood;
}

.Incardleft{
   
    opacity: 100%;        
    position: absolute;
    top: 60%;
    left: 80%;   
    transform: translate(-50%, -50%);
    font-size: 30px;
    z-index: 2;
    width: 25%;
    padding: 20px;
   text-align: center;
    color:rgb(51, 9, 9);
    background-color: burlywood;
   
    
}

#sub{
    color:tomato;
}
